<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-4">
  <a class="navbar-brand" routerLink="/">
    <img
      class="logo img-responsive"
      src="/assets/teste.png"
      alt="logo"
      width="80"
      height="80"
    />
  </a>
  <a class="navbar-brand" routerLink="/">
    <div class="nome">
      <h1 style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        <span>$Web</span>Finanças$
      </h1>
    </div>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/reports">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/entries">Lançamentos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/categories">Categorias</a>
      </li>
    </ul>
  </div>
</nav>
