

  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 roundend-lg mt-5">
                <div class="card-header bg-dark">
                  <h3 class="text-center text-light font-weight-light my-4">
                    {{cadastrando ? 'Cadastro de Novo Usuário' : 'Entrar'}}
                  </h3>
                </div>
                <div class="card-body">
                  <div class="alert alert-sucess" *ngIf="mensagemSucesso">
                    {{mensagemSucesso}}
                  </div>
                  <div class="alert alert-danger" *ngIf="loginError && !cadastrando">
                    Login e/ou Senha incorreto(a).
                  </div>
                  <div class="alert alert-danger" *ngFor="let error of serverErrorMessages">
                    {{error}}
                  </div>
                  <form #loginForm="ngForm" (submit)="onSubmit();">
                    <div class="form-group">
                      <label class="small mb-1">Login</label>
                      <input type="text" name="name" [(ngModel)]="name" autocomplete="off" class="form-control py-4"
                        placeholder="Digite seu Login">
                    </div>
                    <div class="form-group">
                      <label class="small mb-1">Senha</label>
                      <input type="password" name="password" [(ngModel)]="password" class="form-control py-4"
                        placeholder="Digite sua Senha">
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                      <button type="submit" class="btn btn-dark" *ngIf="!cadastrando">
                        Login
                      </button>

                      <button type="button" class="btn btn-success" (click)="cadastrar()" *ngIf="cadastrando">
                        Cadastrar
                      </button>
                      <button type="submit" (click)="cancelarCadastro()" class="btn btn-danger" *ngIf="cadastrando">
                        Cancelar
                      </button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center bg-dark ">
                  <div class="small text-light">
                    <a style="cursor: pointer" (click)="preparaCadastrar($event)">
                      Não possui Usuário? Cadastre-se!
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </main>

    </div>
  </div>
