<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-5">Olá! Seja bem vindo ao sistema $WebFinanças$</h1>
      <h3 class="text-justify">
        O $WebFinanças$ foi desenvolvido por mim Desenvolvedor Full Stack.<br />
        Esse é um sistema para gerenciamento de despesas e receitas simples
        desenvolvido em Angular 12 e Spring Boot 2. <br />O sistema está rodando
        na nuvem sendo o front na Netlifi e o back na Heroku.<br />
        O projeto tem como objetivo principal abordar os conceitos de aplicações
        SPAs, Autenticação e Autorização com Tokens JWT e muito mais. O código
        fonte do projeto pode ser acessado clicando no link Github no menu
        lateral.
        <br /><br />
        Fique a vontade para testar o sistema e deixar sua sugestão. <br />
        At.te: Jeferson Ferreira Labout dos Santos
      </h3>
    </div>
    <div class="col">
      <img src="../../../assets/calculadora.svg" class="img-fluid" alt="" />
    </div>
  </div>
</div>
